---
import CardItem from './CardItem.astro';
---
<div class="card-items">
  <div class="card-grid">
    <CardItem title="Tytuł Card Item Jeden" description="No Siema Drilluj Propsa" />
    <CardItem title="Super Tytuł 2" description="Jeszcze jedna przerzuta" />
    <CardItem title="Dobrze, ze tylko trzy tytuly" description="No Elo Description" />
  </div>
</div>
