<div class="teaser">
    <div class="teaser-image">
      <img src="/doggo.png" alt="Teaser image" />
    </div>
    <div class="teaser-content">
      <h2>Doggo Hehe</h2>
      <p>
        No Siema, Prosty Boilerplate prezentujący możliwości Astro
      </p>
    </div>
  </div>